body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.back-button {
    position: absolute;
    left: 3px;
    top: 10px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    color: #333;
    font-weight: bold;
}

.box {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 35px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
