@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Roboto:wght@400;700&display=swap");

body {
    background-image: url('../pictures/pic-background/earth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    margin: 0;
    display: grid;
    grid-template-areas:
        "topnav"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100%;
}

.topnav {
    grid-area: topnav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 10px;
}

.list {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 40px;
    margin: 0;
    list-style: none;
    padding-left: 20px; 
}

.link {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.list a:hover {
    color: #e4e4e99c;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
}

.content {
    grid-area: content;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: grid;
    flex-direction: auto auto auto;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 90px;
}

footer {
    grid-area: footer;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-align: end;
    background-color: rgba(0, 0, 0, 0.0); /* Background for visibility */
}

.container {
    position: relative;
    top: 0px;
    display: grid;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

#button {
    outline: none;
    height: 40px;
    width: 130px;
    border-radius: 40px;
    background: white;
    border: 1px solid white;
    color: black;
    letter-spacing: 1px;
    text-shadow: none;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.25s ease;
}

#button:hover {
    color: white;
    background: transparent;
}